.titulo{
    text-align: center;
    margin: 40px 0;
}

.contenedor-agencias{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.card{
    width: 250px;
    height: 400px;
    perspective: 1000px;
}

.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front{
    background: white;
}

.card-back{
    background: #2c3e50;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

.rating{
    font-size: 22px;
    margin-top: 10px;
    transition: transform 0.3s;
    color: #ccc;
}

.card:hover .rating{
    color: gold;
}

.card:hover .rating{
    transform: scale(1.3);
}

