.container{
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(100px, 7fr) minmax(100px,3fr);
}
.container section{
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-template-rows: auto-fill;
    gap: 10px 15px;
    padding: 10px;
}
.container article:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
}
article img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.container aside{
    background-color: lightgreen;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
}