.container{
    background-color: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns:minmax(25px,1fr) minmax(100px, 32fr) minmax(25px,1fr);
}
.container section{
    background-color: rgba(233, 145, 111, 0.747);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-template-rows: auto-fill;
    gap: 10px 15px;
    padding: 10px;
    grid-column-start: 2;
}
.container article:first-child{
    grid-column-start: span 2;
    grid-row-start: span 2;
}
article img, figure img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
article:hover{
    background-color: lightsalmon;
    border-radius: 8px;
}
p a{
    text-decoration: none;
    color: black;
    font-size: medium;
}

@keyframes show{
    from{
        opacity: 0;
        scale: 80%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}
article{
    view-timeline-name: --img;
    view-timeline-axis: block;

    animation-timeline: --img;
    animation-name: show;

    
    animation-fill-mode: both;
}